{% extends 'base.html.twig' %}

{% block title %}Recupera password{% endblock %}

{% block header %}{% endblock %}
{% block body_class %}{% endblock %}
{% block sidebar %}{% endblock %}
{% block footer %}{% endblock %}

{% block body %}

    <!-- Main Container -->
    <main id="main-container">
        <!-- Page Content -->
        <div class="bg-image" style="background-image: url('{{ asset('build/images/photos/sfondo.jpg') }}');">
            <div class="row g-0 bg-primary-dark-op">
                <!-- Meta Info Section -->
                <div class="hero-static col-lg-4 d-none d-lg-flex flex-column justify-content-center">
                    <div class="p-4 p-xl-5 flex-grow-1 d-flex align-items-center">
                        <div class="w-100">
                            <a class="link-fx fw-semibold fs-2 text-white" href="{{ path('login') }}">
                                Acque <span class="fw-normal">D'Italia</span>
                            </a>
                            <p class="text-white-75 me-xl-8 mt-2">
                                Recupera la password per accedere al tuo account
                            </p>
                        </div>
                    </div>
                    <div class="p-4 p-xl-5 d-xl-flex justify-content-between align-items-center fs-sm">
                        <p class="fw-medium text-white-50 mb-0">
                            <strong>Ecofill 0.3</strong> &copy; <span data-toggle="year-copy"></span>
                        </p>
                        <ul class="list list-inline mb-0 py-2">
                            <li class="list-inline-item">
                                <a class="text-white-75 fw-medium" href="javascript:void(0)">Privacy policy</a>
                            </li>
                            <li class="list-inline-item">
                                <a class="text-white-75 fw-medium" href="javascript:void(0)">Contatti</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- END Meta Info Section -->

                <!-- Main Section -->
                <div class="hero-static col-lg-8 d-flex flex-column align-items-center bg-body-light">
                    <div class="p-3 w-100 d-lg-none text-center">
                        <a class="link-fx fw-semibold fs-3 text-dark" href="{{ path('login') }}">
                            Acque <span class="fw-normal">D'Italia</span>
                        </a>
                    </div>
                    <div class="p-4 w-100 flex-grow-1 d-flex align-items-center">
                        <div class="w-100">
                            <!-- Header -->
                            <div class="text-center mb-5">
                                <p class="mb-3">
                                    <i class="fa fa-2x fa-circle-notch text-primary-light"></i>
                                </p>
                                <h1 class="fw-bold mb-2">
                                    Recupero Password
                                </h1>
                                <p class="fw-medium text-muted">
                                    Inserisci l'indirizzo email associato al tuo account,<br />ti invieremo le istruzioni per resettare la tua password.
                                </p>
                            </div>
                            <!-- END Header -->

                            <!-- Sign In Form -->
                            <!-- jQuery Validation (.js-validation-signin class is initialized in js/pages/op_auth_signin.min.js which was auto compiled from _js/pages/op_auth_signin.js) -->
                            <!-- For more info and examples you can check out https://github.com/jzaefferer/jquery-validation -->
                            <div class="row g-0 justify-content-center">
                                <div class="col-sm-8 col-xl-4">
                                    {% for flash_error in app.flashes('reset_password_error') %}
                                        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                                    {% endfor %}
                                    {{ form_start(requestForm) }}
                                        {{ form_row(requestForm.email) }}
                                        <div class="d-flex justify-content-between align-items-center mb-4">
                                            <div>
                                                <a class="text-muted fs-sm fw-medium d-block d-lg-inline-block mb-1" href="{{ path('login') }}">
                                                    Torna al login
                                                </a>
                                            </div>
                                            <div>
                                                <button type="submit" class="btn btn-lg btn-alt-primary">
                                                    <i class="fa fa-fw fa-envelope me-1 opacity-50"></i> Recupera password
                                                </button>
                                            </div>
                                        </div>
                                    {{ form_end(requestForm) }}
                                </div>
                            </div>
                            <!-- END Sign In Form -->
                        </div>
                    </div>
                    <div class="px-4 py-3 w-100 d-lg-none d-flex flex-column flex-sm-row justify-content-between fs-sm text-center text-sm-start">
                        <p class="fw-medium text-black-50 py-2 mb-0">
                            <strong>Ecofil 0.1</strong> &copy; <span data-toggle="year-copy"></span>
                        </p>
                        <ul class="list list-inline py-2 mb-0">
                            <li class="list-inline-item">
                                <a class="text-muted fw-medium" href="javascript:void(0)">Privacy policy</a>
                            </li>
                            <li class="list-inline-item">
                                <a class="text-muted fw-medium" href="javascript:void(0)">Contatti</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- END Main Section -->
            </div>
        </div>
        <!-- END Page Content -->
    </main>
    <!-- END Main Container -->
{% endblock %}
