{% extends 'base.html.twig' %}

{% block title %}Prodotti{% endblock %}

{% block body %}

    <!-- Main Container -->
    <main id="main-container">
        <!-- Hero -->
        <div class="bg-body-light">
            <div class="content content-full">
                <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center py-2">
                    <div class="flex-grow-1">
                        <h1 class="h3 fw-bold mb-2">
                            Prodotti
                        </h1>
                        <h2 class="fs-base lh-base fw-medium text-muted mb-0">
                            Elenco dei prodotti distribuiti
                        </h2>
                    </div>
                    <nav class="flex-shrink-0 mt-3 mt-sm-0 ms-sm-3" aria-label="breadcrumb">
                        {{ wo_render_breadcrumbs() }}
                    </nav>
                </div>
            </div>
        </div>
        <!-- END Hero -->

        <!-- Page Content -->
        <div class="content">

            <div class="block block-rounded">
                <div class="block-header block-header-default">
                    <h3 class="block-title"><small>Elenco ruoli</small></h3>
                </div>
                <div class="block-content block-content-full">

                    {% for flash_success in app.flashes('success') %}
                        <div class="alert alert-success" role="alert">{{ flash_success }}</div>
                    {% endfor %}

                    {% if prodotti is defined %}
                    <table class="table table-hover table-vcenter">
                        <thead>
                        <tr>
                            <th class="d-none d-sm-table-cell">Nome prodotto</th>
                            <th class="d-none d-sm-table-cell">Prezzo Unitario</th>
                            <th class="d-none d-sm-table-cell">Erogazioni</th>
                            <th style="width: 5%;"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for prodotto in prodotti %}
                            <tr>
                                <td class="fw-semibold fs-sm">{{ prodotto.nome }}</td>
                                <td>
                                    <span class="text-muted fs-sm">{{ prodotto.prezzo_unitario }}</span>
                                </td>
                                <td>
                                    <span class="text-muted fs-sm">{{ prodotto.totale_erogazioni }}</span>
                                </td>
                                <td class="text-center">
                                    <div class="btn-group">
                                        <a href="{{ path('prodotti_edit', { id: prodotto.id }) }}" class="btn btn-sm btn-alt-secondary js-bs-tooltip-enabled" data-bs-toggle="tooltip" title="" data-bs-original-title="Edit">
                                            <i class="fa fa-fw fa-pencil-alt"></i>
                                        </a>
                                        &nbsp;
                                        <a href="{{ path('prodotti_delete', { id: prodotto.id }) }}" type="button" class="btn btn-sm btn-alt-secondary js-bs-tooltip-enabled" data-bs-toggle="tooltip" title="" data-bs-original-title="Delete">
                                            <i class="fa fa-fw fa-times"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                </div>
            </div>

        </div>
        <!-- END Page Content -->
    </main>
    <!-- END Main Container -->

{% endblock %}
